h1, h2 {
  font-family: 'Oswald', serif;
}

body {
  font-family: 'Open Sans', serif;
  color: darkblue;
  background-color: ivory;
  margin: 10px 50px;
}

img{
  float:left;
}

.column {
  float: left;
  width: 300px;
  padding: 10px 10px;
}

ul {
  list-style-type: none;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;

}